/* Styles go here */

#outerWrapper {

  width: 95%;
  height: 500px;

    /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#2F9EBC), color-stop(0.25, #197793), color-stop(0.5, #2F9EBC), color-stop(0.75, #197793), to(#2F9EBC));

}

.glyphicon-shopping-cart:before {

  margin-right: 10px;
}

button {
  background-color: #649E25;
  color: white !important;
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 10px;
}

h4 {
  color:white;
  width:30%;
}

.col-xs-12,  .col-sm-4 {
  background-color:white;
  padding:10px;
}
.cards {

   height: 350px;
   width:95%;
   background-color:white;
}
.box {

   margin:10px;
}
.shopping {
  padding: 5px;
}

 .bg {
   padding:10px;
   width:100%;
   height:500px;
   background: -webkit-gradient(linear, left top, right top, from(#2F9EBC), color-stop(0.25, #197793), color-stop(0.5, #2F9EBC), color-stop(0.75, #197793), to(#2F9EBC));
}

.innerWrapper {
   float: left;
   width: 30%;
   height: 400px;

  margin:10px;

   background:-webkit-gradient(left, #2F9EBC, #197793, #2F9EBC, #197793, #2F9EBC);
}

.details, button{
  color:black;
}
.imgHolder {
  width:300px;
  height:235px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    padding:10px;
}

#img1 {
  background-image: url("assets/veggies2.jpeg") ;
  background-repeat:no-repeat;
}

#img2 {
  background-image: url("assets/rasp2.jpeg");
  background-repeat:no-repeat;
}

#img3 {
  background-image: url("assets/kiwi.jpeg");
  background-repeat:no-repeat;

}
